<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyTodo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Visualisation</servlet-name>
    <servlet-class>servlets.Visualisation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visualisation</servlet-name>
    <url-pattern>/visualisation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTodo</servlet-name>
    <servlet-class>servlets.CreateTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTodo</servlet-name>
    <url-pattern>/createTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Synchronisation</servlet-name>
    <servlet-class>servlets.Synchronisation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Synchronisation</servlet-name>
    <url-pattern>/synchronisation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyTodo</servlet-name>
    <servlet-class>servlets.ModifyTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyTodo</servlet-name>
    <url-pattern>/modifyTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Suppression</servlet-name>
    <servlet-class>servlets.Suppression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suppression</servlet-name>
    <url-pattern>/suppression</url-pattern>
  </servlet-mapping>
</web-app>